.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  align-items: center;
  height: 105px;
  margin: 92px 24px 97px;
}

.header_menu {
  grid-column: 1/6;

}

.header_links-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
}

.header_links-list-item {
  list-style: circle;
}

.header_links-list-item_no-bullit {
  list-style: none;
}

.header_link {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  text-underline-offset: 4.3px;
}

.header_link_active {
  text-decoration: none;
}

.heder_logo {
  display: block;
  grid-column: 6/8;
  justify-self: center;
  width: 137px;
  height: 105px;
}

.header_logo-image {
  object-fit: cover;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-self: self-end;
  width: 240.5px;
  height: 98px;
  line-height: 24.3px;
}

.header_address {
  grid-column: 10/13;
}

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgb(0 0 0 / 0.6);
}

.cover_title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 164px 50px 136px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  position: relative;
  display: block;
  line-height: 115%;
}

.aligned-text_center {
  position: relative;
  line-height: 100%;
  text-align: center;
}

.aligned-text_right {
  position: relative;
  display: block;
  line-height: 100%;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover_description {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0px 50px 51px 78px;
}

.cover_description-text {
  position: relative;
  z-index: 2;
  padding-top: 11px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  width: 256px;
  height: 51px;
  border: 1px solid rgb(255, 255, 255);
  padding: 0;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  position: relative;
  min-width: 1052px;
  min-height: 692px;
  margin: 179px 24px 0px;
}

.lots_heading {
  width: 121px;
  height: 47px;
  margin: 0px 891px 27px 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots_card-list {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
  width: 1052px;
  list-style: none;
}

.lots_card-list-item {
  flex-grow: 1;
  width: 334px;
  /* flex-basis: auto; Не смог реализовать растяжение новой карточки по всей ширине */
  min-height: 563px;
}

.card-link {
  position: relative;
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 100%;
  padding: 51px 40px 48px;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  z-index: 0;
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  z-index: 0;
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  z-index: 0;
  background-image: url(../images/card-lot-03.jpg);
}

.card_title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card_text {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}

.lots_look-more-link {
  position: absolute;
  padding-top: 30px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 20px;
  text-decoration-thickness: 1px;
  text-underline-offset: 4.5px;
}

.about {
  position: relative;
  width: 1052px;
  height: 555px;
  margin: 181px 24px 0px;
}

.about_column {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: min-content 120px 168px;
  column-gap: 25px;
}

.about_logo {
  position: relative;
  z-index: 1;
  grid-column: 1/2;
  justify-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about_logo-image {
  padding: 63px 45px;
}

.about_title {
  position: relative;
  grid-column: 2/3;
  align-self: center;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about_text {
  position: relative;
  grid-column: 2/3;
  width: 693px;
  height: 315px;
  padding-top: 4px;
  vertical-align: bottom;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.second_p {
  padding-top: 28px;
  grid-row: 3;
  grid-column: 2/3;

}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 1000px;
  height: 98px;
  margin: 185px 50px 88px;
}

.footer_addres {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-self: start;
  line-height: 1.35;
  text-decoration-thickness: 1px;
}

.footer_menu {
  display: flex;
  flex-direction: column;
}

.footer_menu-list {
  text-align: center;
  text-decoration-thickness: 1px;
  text-underline-offset: 4.3px;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  font-weight: 400;
  font-size: 18px;
  text-decoration-thickness: 1px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

/* .footer__social-link {} */

.footer__social-icon {
  width: 48px;
  height: 48px;
}
